.container-products{
  left: 280px;
  width: calc(100% - 280px);
  position: absolute;
  margin-top: 75px;
}

.container-loader{
  left: 280px;
  width: calc(100% - 280px);
  position: absolute;
  height: calc(100vh - 63px);
  margin-top: 63px;
}

.card{
  animation-name: card-in;
  animation-duration: 2s;
}

.main-loader{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card-body{
  border-top: 1px solid #e9ecef;
}

.card-title{
  font-family: 'Pacifico';
  font-weight: bold;
}

.card-text{
  font-size: 14px;
  font-style: italic;
  color:gray;
}

.card-specification{
  font-family: 'Pacifico';
  font-weight: bold;
  color: red;
}

.color-product{
  height: 22px;
  width: 22px;
  bottom: 11px;
  left: 20px;
  position: absolute;
  border-radius: 50%;
}

.card-price{
  color:black;
  font-size: 17px;
  font-family: 'Pacifico';
  bottom: 4px;
  right: 20px;
  position: absolute;
}

.container-products .row{
  margin-left: 0px!important;
  margin-right: 0px!important;
}

@keyframes card-in {
  from{
    transform:scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
