::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #adb5bd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adb5bd; 
}

.container-filters{
  height: calc(100vh - 63px);
  margin-top: 63px;
  width: 280px;
  position: fixed;
  overflow-y: auto;
  padding-bottom: 15px;
  background-color:#f8f9fa;
  box-shadow: 0px 2px 4px #6c757d9c;
}

.filter-title{
  margin-left: 15px;
  margin-bottom: 0px!important;
  font-family: 'Pacifico';
  font-weight: bold;
}

.container-filters h4{
  font-family: 'Pacifico';
  font-weight: bold;
  font-size: 20px;
}
